<link rel="stylesheet" type="text/css" href="/css/visualizer.css">
<div class="container">
<div class = "display">
  <h1>Breathe Deep</h1>


  <div id="timer">
    <div id="visualizer" class="circle-base">
    </div>

    <div id="prompt">
      <h4 id="inhale">Press space on <em>inhale</em></h4>
      <h4 id= "exhale">Press space on <em>exhale</em></h4>
    </div>
  </div>

  <p>press z to finish</p>

  <div class="statbox">
    <p >longest inhale: <span id="longest-inhale"> </span></p>
    <p >longest exhale: <span id="longest-exhale"> </span></p>
    <p> mean inhale: <span id="mean-inhale"> </span></p>
    <p> mean exhale: <span id="mean-exhale"> </span></p>
    <!-- AWAITING DATABASE: <p> record inhale: <span id="record-inhale"> </span></p>
    <p> record exhale: <span id="record-exhale"> </span></p> -->
  </div>

</div>

</div>

<script type="text/javascript" src="/js/color-meter/breathclock.js"></script>
<script type="text/javascript" src="/js/color-meter/visualizer.js"></script>
<script type="text/javascript" src="/js/color-meter/runner.js"></script>
