<link rel="stylesheet" type="text/css" href="/css/visualizer.css">
<div class="container">
  <div id="timer">
    <div id="visualizer" class="circle-base">
    </div>

    <div class="prompt">
      <p><em>space</em> alters</p>
      <p><em>z</em> captures...</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/color-meter/breathclock.js"></script>
<script type="text/javascript" src="/js/color-meter/visualizer.js"></script>
<script type="text/javascript" src="/js/color-meter/runner.js"></script>
