.content {
  position: relative;
}

nav{
  min-height: 70px;
  background-color: rgba(241, 196, 15,1.0);
}

nav button{
  margin:18px;
  background-color:#ffffff;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

nav button:hover {
  background-color:#f6f6f6;
}

nav button:active {
  position:relative;
  top:1px;
}


table{
  margin:0 auto;
}

#logout{
}

.auth-box{
  border: 1px solid gray;
  width: 260px;
  height: 200px;
  text-align: center;
  margin: 120px auto;
  background-color: #f1c40f;
  line-height: 0.3em;

}

#login {
  margin: 16px auto;
}


#login input {
  margin:2px;
}

#open-page{
  height: 880px;
  border: 1px solid black;
  width: 724px;
  display: inline-block;
}

#open-page p {
  font-size: 1.4em;
  line-height: 1.3em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  text-align: justify;
}

#next-page{
  display:none;
}

.prev-flip {
  display: inline-block;
  min-height: 100%;
  background-color: rgba(189, 195, 199, 0.7);
  min-width: 220px;
  left: 0;
}

.prev-flip:hover{
  background-color: rgba(189, 195, 199, 1.0);
}

.next-flip {
  display: inline-block;
  min-height: 100%;
  background-color: rgba(52, 152, 219, 0.3);
  min-width: 220px;
  right: 0;
}
.next-flip:hover{
  cursor: pointer;
  border: 1px solid gold;
  background-color: rgba(52, 152, 219,0.7);
}



