<%= erb :"static/prev"%>


<div id="open-page">
  <div class="auth-box">
    <form id="login" action="/login" method="POST">
      <p>Username or Email:</p><br>
      <input type="text" name="user[username]" placeholder="username">
      <p>Password:</p><br>
      <input type ="password" name="user[password]">
      <input type="submit" value"Find Your Bookmark" >
    </form>

    <form class="signup" action="/user/new" method="GET" >
      <input type="submit" value="Sign Up for a Book">
    </form>
   </div>
</div>

<%= erb :"static/next" %>
